/* Basic styling - customize as needed */
#bookList .card {
    margin-bottom: 20px;
    width: 300px; /* Đặt chiều rộng cố định */
    height: 350px; /* Đặt chiều cao cố định */
    overflow: hidden; /* Ẩn nội dung tràn */
}
#bookList img {
    max-height: 150px; /* Đặt chiều cao tối đa cho hình ảnh */
    width: auto;
    margin: 10px auto; /* Center images */
}
#bookList .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 150px); /* Trừ đi chiều cao của hình ảnh */
}
#bookList .card-title, #bookList .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-inline {
  display: flex;
}
.form-inline input {
  flex-grow: 1;
}
.book-card {
    border: 1px solid red;
    border-radius: 10px;
}
.btn {
    background-color: #007bff;
    border-radius: 4px;
}