Quang Phạm Tiến Quang
*{
    margin: 0;;
    padding: 0;;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #D53829;
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* nav...................... */

#nav-bar {
    background-color: pink;
}
.menu-level-1 .item-lv1 img{
    width: 210px;
    padding: 5px 0;
}
.menu-level-1 {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.item-lv1 {
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu-level-1 .item-lv1 input {
    height: 30px;
    width: 210px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}
nav ul li:nth-child(2) i {
    color: #737373;
    position: absolute;
    font-size: 15px;
    right: 35px;
    line-height: 4px;
}
.item-lv1 a, i {
    color: #000
}
.item-lv1  i {
    padding: 1px;
}
.item-lv1:nth-child(3):hover,
.item-lv1:nth-child(4):hover, 
.item-lv1:nth-child(5):hover,
.item-lv1:nth-child(6):hover {
    background-color: #c45265;
}
.menu-level-2{
   border: 1px solid #ddd;
   box-shadow: 1px 2px 4px #ddd; 
   position: absolute;
   top: 60px;
left: -60px;
   padding: 10px 20px;
   display: none;
   z-index: 1000;
   width: 185px;
   background-color: pink;
}
.menu-level-2 a{
    color: #000;
}

.menu-level-1 .item-lv1:nth-child(3) .menu-level-2 .item-lv2:hover {
    text-decoration: underline
}
.item-lv1:hover .menu-level-2{
    display: block;
}
.item-lv1:last-child .menu-level-2:last-child {
    width: 220px;
    height: 110px;
}

.item-lv1:last-child .menu-level-2:last-child .item-lv2 {
    margin-top: 10px;
}

.menu-level-1 .item-lv1:last-child .menu-level-2 .item-lv2:nth-child(1) {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 5px;
    text-align: center;
}

.menu-level-1 .item-lv1:last-child .menu-level-2 .item-lv2:nth-child(2) {
    border: 3px solid red;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.menu-level-1 .item-lv1:last-child .menu-level-2 .item-lv2:nth-child(1) a {
    font-size: 20px;
    color: #fff;
}

.menu-level-1 .item-lv1:last-child .menu-level-2 .item-lv2:nth-child(2) a {
    font-size: 20px;
    color: red;
}
/* ......modal */
.auth-form_form span{
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 15px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
        /* Ẩn modal mặc định */
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
}
.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_body {
    position: relative;
    background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        z-index: 1001;
        width: 50%;
        margin: 0 auto;
        /* Căn giữa ngang */
        display: flex;
        /* Sử dụng flexbox */
        flex-direction: column;
        /* Căn dọc */
        align-items: center;
}
.auth-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.auth-form_form p {
    font-size: 24px;
}
.auth-form_container {
    margin: auto;
    width: 100%;
}
.auth-form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form_heading {
    font-weight: bold;
        font-size: 30px;
        color: #333;
}
.auth-form_form {
    margin-top: 20px;
}
.auth-form_group {
    margin-bottom: 15px;
}
.auth-form_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.auth-form_controls {
    margin-top: 55px;
    display: flex;
    justify-content: flex-end;
}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn--primary {
    background-color: #007bff;
    color: #fff;
}

.auth-form_controls_back {
    background-color: #6c757d;
    color: #fff;
    margin-right: 10px;
}
.auth-form_controls a{
    color: #fff;
    text-decoration: none;
}
.auth-form_controls_back:hover{
    background-color: #737373;
}
.btn.btn--primary{
    background-color: #b83737;
    color: #fff;
}
.auth-form_help{
    display: flex;
    justify-content:flex-end;
}
/* ..........giỏ hàng......   */
.gio-hang .tieu-de{
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
}
.gio-hang {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1100px;
}
.item-gio-hang{
    margin: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
        box-shadow: 2px 2px 4px #ddd;
        padding: 20px;
    }
    
.item-gio-hang input{
    height: 38px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
.item-gio-hang .hinh-anh-sp img{
    width: 60px;
    height: 60px;
}
.item-gio-hang .hinh-anh-sp{
    width: 60px;
}
.item-gio-hang
.hinh-anh-sp, 
.so-luong, 
.tong-tien, 
.hanh-dong{
    flex: 1; 
    margin-left: 20px;
    text-align: center;
}
.item-gio-hang .gia{
    flex: 2;
}
.item-gio-hang .ten-sp{
    flex: 3;
}
.item-gio-hang .gia .gia-goc{
    font-size: 12px;
    text-decoration: line-through;
    color: #aaa;
}
.item-gio-hang .gia .gia-ban{
    color: red;
}
.item-gio-hang .hanh-dong i:hover{
    color: red;
}

.thanh-tien{
 
    display: flex;
}
.tong-so-tien{
    display: flex;
}
.gio-hang .item-gio-hang .thanh-toan{
    cursor: pointer;
    background-color: #ff0033;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.gio-hang .item-gio-hang .thanh-toan a{
    color: #fff;
}
.gio-hang .item-gio-hang .item-gio-hang-title .tien{

    padding-left: 50px;
}
.gio-hang .item-gio-hang .item-gio-hang-title .tong-so-tien .tien{
    color: red;
    font-size: 24px;
}
/* thong tin khach hang */
.mua-hang {
    color: red;
    font-size: 25px;
}
.gio-hang .thong-tin ul{
    margin-bottom: 10px;
}
.gio-hang .thong-tin .thong-tin-ul{
    padding: 0;
}
.gio-hang .thong-tin .thong-tin-ul .thong-tin-ip{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.gio-hang .thong-tin ul:last-child{
    width: 100%;
    height: 40px;
    background-color: red;
    text-align: center;
}
.gio-hang .thong-tin ul:last-child li{
    padding: 10px 0;
    font-size: 17px;
}
.gio-hang .thong-tin ul:last-child li:hover{
    padding: 10px 0;
    font-size: 17px;
    cursor: pointer;
}
.gio-hang .thong-tin .thong-tin-ul:last-child a{
    color: #fff;
    font-size: 20px;

}
/* ............slider...... */
.slider-product-one-content{
    margin-top: 50px;
    background-color: #e55b4e;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-title h2{ 
    padding: 10px 10px 10px 0;
    color: #fff;
}
.slider-product-one-content-item{
    display: block;
    background-color: #fff;
    padding: 30px 6px 12px 6px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 30px;
        flex-basis: calc(20% - 30px);
            max-width: calc(20% - 30px);
}
.slider-product-one-content-item img {
    width: 100%;
}
.slider-product-one-content-item-text li:first-child {
    font-weight: bold;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
}
.slider-product-one-content-item-text li:first-child:hover{
    font-weight: bold;
    color: red;
}
.slider-product-one-content-item-text li:nth-child(2) i{
    color: #eef200;
    padding-right: 5px;
}
.slider-product-one-content-item-text li:nth-child(3) a{
    text-decoration: line-through;
    color: #333;
}
.slider-product-one-content-item-text li:nth-child(3) span{
   
        background-color: red;
        border-radius: 10%;
        padding: 3px;
        margin-left: 5px;
    
}
.slider-product-one-content-item-text li:nth-child(4) {
    font-weight: bold;
    margin: 4px 0 10px 0;
} 
.slider-product-one-content-item-text li:nth-child(5){
    border: none;
    border-radius: 25px;
    background-color: #fdfd7e;
    text-align: center;
    width: 100%;
    margin: 4px 0;
 }
.slider-product-one-content-item:hover {
    transform: scale(1.1);
}
.slider-product-one-content-items{
    text-align: center;
    display: flex;
    width: 100%;
    margin-right: 12px;
    margin-left: -12px;
    padding: 15px;
}
.slider-product-one-content-btn{
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    width: 97%;
}
.slider-product-one-content-btn i {
    color: #000;
    font-size: 30px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
}
.slider-product-one-content-items-content{
    display: flex;
    height: 400px;
    transition: all 0.7s ease;
}
.slider-product-one-content-items {
    position: absolute;
    min-width: 100%;
        display: flex;
        align-items: center;
        transition: all 0.7s ease;
}

/* .............product....... */
.product-gallery-one-content-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 0;
}
.product-gallery-one-content-product-item{
    width: 20%;
    padding: 12px 24px 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2% 0
}
.product-gallery-one-content-product > h3 {
    width: 100%;
    margin-bottom: 5px;
    background-color: #b83737;
    padding: 15px 15px;
    color: #fff;
}
.product-gallery-one-content-product-item {
    transition: box-shadow 0.3s ease;
    /* Smooth transition for the hover effect */
}

.product-gallery-one-content-product-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Add shadow on hover */
}

.product-gallery-one-conten-litle h2{
    border-bottom: 2px solid  #000;
    padding: 20px 0;
}
.product-gallery-one-content-product-item>img{
    width: 100%;
}
.product-gallery-one-content-product-item-text li{
    margin-bottom: 6px;
}
.product-gallery-one-content-product-item-text li:first-child{
    font-weight: bold;
    font-size: 22px;
}
.product-gallery-one-content-product-item-text li:first-child:hover{
    font-weight: bold;
    color: red;
}
.product-gallery-one-content-product-item-text li:nth-child(2) a {
    text-decoration: line-through;
}
.product-gallery-one-content-product-item-text li:nth-child(3) a{
    text-decoration: line-through;
    color: #333;
}
.product-gallery-one-content-product-item-text li:nth-child(3) span{
    background-color: red;
    border-radius: 6%;
    padding: 3px;
}
.product-gallery-one-content-product-item-text li:nth-child(4){
    color: red;
    font-weight: bold;
}
.product-gallery-one-content-product-item-text li:last-child i{
    color: #e9ec44;
    padding-right: 1px;
}


/* ...base.css.... */
.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/* nếu không muốn sử dụng .gird */
.gird__full-width{
    width: 100%;
}
.gird__row{
    display: flex;
    flex-wrap: wrap;
}
/* chia 5 item trên 1 chiều ngang */
.gird__colum-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* ....footer.... */
.footer{
    border-top: 5px solid red;
    padding-top: 30px;
}
.footer__heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
}
.footer__list{
    padding-left: 0;
}
.footer-item-link{
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: block;
}
.footer-item-link:hover{
    color: red;
}
.footer-img{
    width: 50%;

}
.gird__row2{
    text-align: center;
}

/* ......modal */
 